* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #222;
    line-height: 1.75;
    font-family: "Roboto", sans-serif;
}

header {
    width: 95%;
    max-width: 1440px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    background-color: #d32f2f;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}

main {
    width: 95%;
    max-width: 1440px;
    margin: 25px auto;
}

form {
    display: flex;
}

form:first-of-type {
    margin-bottom: 25px;
}

label {
    align-self: center;
    font-size: 1.5rem;
}

input {
    width: 300px;
    margin-left: 10px;
    padding: 10px 10px;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid #ddd;
}

.btn {
    padding: 10px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #363949;
}

.overview-dashboard {
    margin: 50px 0;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.overview-dashboard h3 {
    font-size: 2.5rem;
}

.overview-dashboard p {
    font-size: 1.25rem;
}

.budget-overview,
.expenses-overview,
.balance-overview {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    background-color: #f6f6f9;
}

.icon-container {
    margin-right: 15px;
    padding: 15px;
    border-radius: 5px;
}

i {
    font-size: 3.25rem;
}

.budget-overview .icon-container {
    color: #1976d2;
    background-color: #cfe8ff;
}

.expenses-overview .icon-container {
    color: #fbc02d;
    background-color: #fff2c6;;
}

.balance-overview .icon-container {
    color: #388e3c;
    background-color: #bbf7d0;;
}

.expenses-details {
    padding: 20px;
    border-radius: 5px;
    background-color: #f6f6f9;
}

.expenses-details h3 {
    font-size: 2.5rem;
}

table {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 25px;
}

table, td, th {
    border-collapse: collapse;
}

th {
    color: #fff;
    text-align: left;
    background-color: #363949;
}

th, td {
    padding: 15px 20px;
}

tr {
    border-top: 1px solid #363949;
}

.edit-btn {
    margin-right: 10px;
    background-color: #fbc02d;
}

.delete-btn {
    background-color: #d32f2f;
}